@namespace "http://www.gov.org/west";
@namespace east "http://www.gov.org/east";

states {
    background-color: lightblue;
}

/* state, east|state {
    display: block;
} */

/* any namespace */
*|state {
    display: block;
}

east|state {
    background-color: lightcoral;
}

/* Other possibility */
/* state {
    display: block;
}

east|state {
    display: block;
    background-color: lightcoral;
} */